# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# macOS / platform
.DS_Store

# Codegen
*.g.dart
*.freezed.dart

# Env
assets/.env

# Firebase
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart

# iOS
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework/
ios/Flutter/flutter_export_environment.sh

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
